.scroller {
    display: flex;
    color: aliceblue;
    background-color: var(--corail) !important;
    height: 26px;
    overflow: hidden;
    letter-spacing: 0.1rem;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--noir) !important;
    min-height: 100vh;
    letter-spacing: 0.1rem;

    /* --noir: #16273d; */
    --noir: #212431;
    --corail: #F25050;
    --sable: #F2EDD5;
    --gris: #5C5C5C;
}

/********************* BG COLOR **********************/
.bgSable {
    background-color: var(--sable) !important;
}

.bgNoir {
    background-color: var(--noir) !important;
}

.bgCorail {
  background-color: var(--corail) !important;
}





/********************* TEXT COLOR **********************/
.txtGris {
    color: var(--gris) !important;
}

/* .txtGris:hover{
      color: var(--corail) !important;
  } */

.hoverCorail:hover {
    color: var(--corail) !important;
}

.hoverGris:hover {
    color: var(--gris) !important;
}

.hoverBlanc:hover {
    color: white !important;
}

.txtCorail {
    color: var(--corail) !important;
}

.txtnoir {
    color: #2e2e2e;
}

.essai:hover {
    background-color: var(--corail) !important;
    color: white !important;
    /* color: var(--corail) !important;
      background-color: var(--sable) !important; */
}

/********************* TEXT COLOR **********************/
.btnGeneral {
    background-color: var(--corail) !important;
    color: white !important;
}

.btnGeneral:hover {
    background-color: var(--sable) !important;
    color: var(--corail) !important;
    border: 1px solid var(--corail) !important;
}

.btnSable {
    background-color: var(--sable) !important;
    color: var(--corail) !important;
    border: 1px solid var(--corail) !important;
}

.btnSable:hover {
    background-color: var(--corail) !important;
    color: white !important;
}


/********************* MARGIN & PADDING **********************/
.mb8em {
    margin-bottom: 8em;
}

.pt4em {
    padding-top: 4em;
}





.App {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */